*.pyc
._* 
__pycache__/
.DS_Store
.AppleDouble
.LSOverride
.directory
.vscode/
*.code-workspace
*.pyo
*/migrations/*.py
!*/migrations/__init__.py
docker-compose.override.yml
*.log
*.log
*.tmp
*.swp
*.swo
*.bak
*.seed
*.pid
*.pid.lock
*.gz
.env
settings_local.py
*.egg-info/
.eggs/
dist/
build/
pip-log.txt